{%  extends 'webapp/main.html' %}

{% load static %}

{% block contenido %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <p>¿Seguro que desear borrar, el contrato: <b>"{{item}}"</b> ?</p>
            <form action="{% url 'borrar_contrato' item.id %}" method="POST">
                    {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'inicio' %}">CANCELAR</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}