<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Contratos</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_contratos}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Contratos Ejecucion</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ejecucion}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Contratos Pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pendiente}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>